<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>
  .table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;

    }
.data:hover{
  transition: all;
  transition-duration: 100ms;
  transform: scale(1.1);
}
</style>
</head>
<body>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Serial No.</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Date----Time</th>
           
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i=0;i<Name.length;i++){ %>
          <tr class="data">
            <td><%= (i+1) %></td>
            <th scope="row"><%= Name[i] %></th>
            
            <td><%= Phone[i] %></td>
            <td><%= Email[i] %></td>
            <td style="width: 15%;"><%= Date[i] %>----<%= Time[i] %></td>
           
            <td><%= Message[i] %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
      
     
</body>
</html>