<%- include('navbarOnly'); -%>
<%- include('background'); -%>




<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DP Memorial Homoeopathy Clinic</title>
  <meta name="Description" content="DP Memorial is reputed Homoeopathy Clinic is Located in Rohini, delhi.">
  <meta name="Name" content="DP Memorial is reputed Homoeopathy Clinic is Located in Rohini, Delhi.">
  <meta name="Doctor" content=" A trusted and well known name for #homeopathic treatments in the city is DP Memorial Homoeopathy Clinic in Delhi. ">
  <meta name="google-adsense-account" content="ca-pub-5067596775334404">
  <link rel="stylesheet" href="homepage.css">

  
    <style>

 @media (max-width: 952px){
        #heading1{
          font-size:14px;
          
        }
        

      }
      @media(max-width: 858px){
        #heading1{
          font-size:10px;
          
        }
        h3{
          font-size: 13px;
        }

        p#addressvalue {
          font-size: 10px;
      }
      }

      
    #heading{
      display: flex;
    flex-direction: column;
    
    width: 78vw;
   
    align-items: center;
    margin: auto;
    }
    #map{
      width: 70%;
      position: relative;
      left: 15%;
      
    }
   .map h3{
    text-align: center;
   }
  .heading2{
    font-size: x-large;
  }
h3 {
    margin: auto;
}
#timings{
  display: flex;
  flex-direction: column;
  align-items: center;
}

  </style>
 
  
</head>

<body>
  

  
  <!-- <div id="heading">
    <h1 id="heading1">WELCOME TO THE
      DP MEMORIAL HOMOEOPATHY CLINIC</h1>
      <h3>Address</h3>
            <p>
              F 22/102, Shop Number 5, 6, Rohini Sector 3, Delhi - 110085 (Beside State Bank Of, Near Gopal Jee Bhaturewale)</p>
    <h3>Phone<h3>
    <p>7654602444 , 9716749169</p>

  </div> -->

  
  <%- include('header'); -%>
  <br><br>
  <%- include('standard'); -%>
  <br><br>

  
  
  <%- include('gallary'); -%>

  <!-- <img src="/services.png" id="services" alt=""> -->

<div >
  <img src="../Screenshot 2023-08-10 091857.png" alt="">
</div>
<div class="map">
  <h3>How to Reach</h3>
  <br>
<a href="https://www.google.com/maps/dir//DP+MEMORIAL+HOMOEOPATHY+CLINIC,+F+22%2F102+Shop+no.+5+%26+6,+Sector+3,+Rohini,+New+Delhi,+Delhi+110085/@28.7010403,77.0988986,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x390d04008a1dcee5:0x614dc35a9374b7d8!2m2!1d77.1014735!2d28.7010403?entry=ttu" target="_blank"><img src="/Map.png" alt="" id="map"></a>
</div>

<br>



<%- include('footer'); -%>



  

  <!-- The dots/circles -->
  
  <script src="homepage.js"></script>
<script>
  function typeWriter(el) {
    const textArray = el.innerHTML.split('');
    el.innerHTML = '';
    textArray.forEach((letter, i) =>
        setTimeout(() => (el.innerHTML += letter), 95 * i)
    );
    // setTimeout(() => typeWriter(el), 7500);
}

 typeWriter(heading1);

 
        lockOrientation(landscape)


</script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5067596775334404"
     crossorigin="anonymous"></script>
</body>

</html>




